.card{
    margin: .5rem 0px .5rem 0px;
}

.modal{
    width: 400px;
    padding: 20px 0px 20px 0px;
}

.tr {
    border: none;
}

label{
    font-size: 14px;
    font-weight: bold;
}

.map-overlay{
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}
#heatmap-legend{
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 185px;
    margin-bottom: 20px;
    width: 150px;
    display:none;
}
.legend-key{
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}
#districting-legend{
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 100px;
    margin-top: 20px;
    width: 150px;
    top: 11%;
    display:none;
}