#summaryToggle{
    visibility: hidden;
    background-color: transparent;
    position: absolute;
    top:10%;
    right:2%;
    z-index: 10;
}

.card{
    margin: .5rem 0px .5rem 0px;
}

.modal{
    width: 400px;
    padding: 20px 0px 20px 0px;
}

.tr {
    border: none;
}

label{
    font-size: 14px;
    font-weight: bold;
}