.toolbar{
    color: white;
    background: #64B5F6;
    padding: 4px;
    border-radius: 4px;
    margin: 8px;
    cursor: default !important;
    pointer-events:auto;
}
.text{
    padding-left: 5px;
    display:inline-block;
    margin:0px;
}
.view-button{
    opacity:1 !important;
    padding: 8px;
    margin: 4px;
    pointer-events:auto !important;
    position:relative !important;
    
    /* float:left; */
}